/**
* BASE STYLES
*/

body, 
html {
    box-sizing: border-box;
    background: #fdfdfd;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 100%; // 1rem
    color: $dark;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
