html,
body {
    color: var(--yellow);
    background: var(--dark);
}

.btn {
    text-align: -webkit-center;
    text-align: center;
    border: 1px solid var(--dark);
    border-radius: 4px;
    color: var(--yellow);
    margin: 0 5px;
    background-color: var(--dark);
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--yellow);
        color: var(--dark);
        border-color: var(--gray);
    }
}

.bg-light {
    background-color: var(--dark) !important;
}

.navbar-brand {
    color: var(--yellow) !important;
    font-size: 1.8em;
    font-weight: bold;
}

.jumbotron {
    background-color: var(--gray);
}

.navbar-nav {
    flex-direction: row;
    width: 50%;
}

.nav-item {
    flex-basis: 50%;
    margin: auto;
}

.navbar-nav .nav-link {
    border: 1px solid var(--yellow);
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.formElement .form-row label.form-label {
    font-size: 1.1rem;
    text-align: center;
}

.table_header label.thead {
    text-align: center !important;
    font-weight: bold;
}

.wrapper {
    flex-basis: 50%;
}

#lap {
    visibility: hidden;
    position: fixed;
    top: 95%;
    left: -50%;
}

#controls {
    text-align: center;

    .btn {
        font-size: 1.4em;
        border-color: var(--yellow);
        padding: 8px 50px !important;
        @media screen and (max-width: 990px) {
            margin-bottom: 10px;
        }
    }
}

#batchTimer {
    margin-bottom: 10px;
    @media screen and (max-width: 432px) {
        justify-content: center;
    }
}
#stopwatch {
    display: flex;
    @media screen and (max-width: 508px) {
        justify-content: center !important;
    }
}

#timer {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 4px;
    display: flex;
    max-width: 50% !important;

    #timer_holder {
        vertical-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 2px;

        span {
            flex-basis: 33%;
            text-align: center;
            /* font-size: 75%; */
            height: auto;
            vertical-align: center;
        }

        @media screen and (max-width: 800px) {
            flex-direction: row;
        }
    }
    @media screen and (max-width: 766px) {
        flex: 4 !important;
    }
    @media screen and (max-width: 508px) {
        margin-bottom: 15px;
        justify-content: center;
    }
}

input[type="submit"] {
    font-size: 1.4em;
    border-color: var(--yellow);
}

footer {
    .fixed-bottom {
        text-align: center;
        max-height: 25px;
        bottom: 5px;

        span {
            font-size: auto;
        }
    }
}

.table {
    margin-top: 25px;
    border-color: var(--yellow);

    tbody tr:nth-child(even) {
        background: var(--gray);
    }

    thead tr {
        background: var(--yellow);
        color: var(--dark);
    }

    td,
    th {
        border-color: var(--yellow);
    }
}

.addRowBtn {
    background: var(--green) !important;
    color: var(--light) !important;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0.75rem;
    border-radius: 10px;
}

.rmvRowBtn {
    background: var(--red) !important;
    color: var(--light) !important;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0.75rem;
    border-radius: 10px;
}

.card {
    border-color: var(--yellow);

    .card-header {
        background: var(--dark);
    }

    .card-body {
        background: var(--gray);
    }
}

.col-2 {
    min-width: 150px;
}

.container {
    form {
        justify-content: center;
    }
}

.form-group {
    @media screen and (max-width: 500px) {
        justify-content: center;
    }
}
