/**
* Button Styles
*/

/** Base Btn **/
.btn {
    color: $dark;
    transition: all .1s ease-in;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    &:hover {
        opacity: .8;
    }
}

/** Primary Btn **/
.btn--p {
    background: $yellow ;
    border: .5px solid #808080;
    &:hover {
        background: $yellow;
        border: .5px solid #808080;
    }
    &:focus {
        background: $yellow;
        border: .5px solid #808080;
    }
    &:active {
        background: $yellow;
        border: .5px solid #808080;
    }
}

/** Secondary Btn **/
.btn--s {
    background-color: #8e00b6;
    color: #fafafa;
    &:hover {
        background: #510068;
        opacity: 1;
    }
}

/** Link Btn **/
.btn--lk {
    color: #fff;
    background: #afafaf;
    border: .5px solid #808080 ;
    &:hover {
        background: #aaaaaa;
        border: .5px solid #808080;
    }
    &:active {
        background: #aaaaaa;
        border: .5px solid #808080;
    }
    &:focus {
        background: #aaaaaa;
        border: .5px solid #808080;
    }
}

/** Minimalist Btn **/
.btn--bare {
    border-color: transparent;
    background: transparent;
    color: #8e00b6;
    font-weight: 500;
    text-transform: none;
    &:hover {
        border-color: transparent;
        background: transparent;
        color: #8e00b6;
    }
}

/** Add / Remove Row Btns **/
.addRowBtn {
    background: $green !important;
    color: var(--light);
    font-size: .7rem;
    font-weight: 300;
    padding: 0 0.75rem;
    border-radius: 10px;
    vertical-align: center;
    &:hover {
        opacity: .8;
    }
}

.rmvRowBtn {
    background: $red !important;
    color: var(--light);
    font-size: .7rem;
    font-weight: 300;
    padding: 0 0.75rem;
    border-radius: 10px;
    vertical-align: center;
    &:hover {
        opacity: .8;
    }
}