@import url(https://fonts.googleapis.com/css?family=Raleway);@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css);/**
* MIXINS
*/
/**
* Utility Classes
*/
/******FLEXBOX******/
.flex__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

/******GENERAL STYLING******/
/** Formatting Utilities **/
/**PADDING**/
.p-l {
  padding-left: 15px !important;
}

.p-r {
  padding-right: 15px !important;
}

.p-t {
  padding-top: 15px !important;
}

.p-b {
  padding-bottom: 15px !important;
}

/**MARGIN**/
.m-l {
  margin-left: 15px !important;
}

.m-r {
  margin-right: 15px !important;
}

.m-t {
  margin-top: 15px !important;
}

.pm-b {
  margin-bottom: 15px !important;
}

/**
* BASE STYLES
*/
body,
html {
  box-sizing: border-box;
  background: #fdfdfd;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #313131;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
}

/**
* Custom Type Styles
*/
table,
tr,
td,
th {
  font-family: "Open Sans", sans-serif;
}

.login__nav {
  background: #888888;
}
.login__nav .brand-logo {
  margin: 0 10px;
}
.login__nav .brand-logo img {
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 600px) {
  .login__nav .brand-logo {
    font-size: 1em;
  }
}

/**
* ADMIN LAYOUT STYLES
*/
#admin_index .admin-main {
  padding-left: 300px;
  z-index: 5;
}

/**
* Footer Styles
*/
.footer {
  background: #1d1d1d;
  position: fixed;
  bottom: 0;
  color: #fdd00c;
  width: 100%;
  margin-top: 64px;
  z-index: 4;
  /* move under everything else */
}
.footer div {
  height: auto;
  padding: 8px 0;
}

/**
****************
* HEADER
****************
*/
nav {
  background-color: #4d4d4d;
}

.header--main {
  max-width: 100vw;
}
.header--main a {
  height: inherit;
}
.header--main img {
  height: 100%;
  padding: 10px;
  max-height: 64px;
}
.header--main span {
  vertical-align: top;
  height: inherit;
}

/**
**************************
**** MAIN ASIDE NAVIGATION
**************************
*/
.main-nav {
  background: #818181;
  height: 100%;
  padding-top: 85px;
  overflow: auto;
  z-index: 3;
  font-size: 1.3em;
}
.main-nav__wrapper {
  height: auto;
}
.main-nav__items {
  margin: 15px 0;
  color: #fdd00c;
}
.main-nav__items a {
  color: #fdd00c;
}
.main-nav__item {
  height: 35px;
  padding-left: 10px;
  margin: 8px 0;
  color: #fdd00c !important;
  text-transform: uppercase;
  font-size: 0.8em;
  border-bottom: 1px solid #fdd00c;
  letter-spacing: 1.5px;
  transition: color 0.3s ease-in-out;
}
.main-nav__item:hover {
  padding-left: 10px;
}
.main-nav__item:hover a {
  color: #383838;
}
.main-nav__item i {
  vertical-align: middle;
}
.main-nav__item span {
  vertical-align: middle;
}
.main-nav img {
  height: 35px;
}
.main-nav__dropdown {
  height: 35px;
  margin: 8px 0;
  color: #fdd00c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 0.8em;
  padding-left: 10px;
  border-bottom: 1px solid #fdd00c;
  transition: color 0.3s ease-in-out;
}
.main-nav__dropdown:hover a, .main-nav__dropdown:hover i {
  color: #383838;
}
.main-nav .dropdown__item {
  border-bottom: 1px solid #a8a8a8;
}

/******************
***** TABLE STYLES
*******************/
.base__table--full {
  padding-bottom: 100px;
}

.reports__table {
  overflow: hidden;
}

/*
************************
****** DASHBOARD MODULES 
************************
*/
.dashboard__card {
  background-color: #818181 !important;
  color: #fdd00c;
}
.dashboard__card span {
  font-size: 0.68em;
}

/**
* Button Styles
*/
/** Base Btn **/
.btn {
  color: #313131;
  transition: all 0.1s ease-in;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.btn:hover {
  opacity: 0.8;
}

/** Primary Btn **/
.btn--p {
  background: #fdd00c;
  border: 0.5px solid #808080;
}
.btn--p:hover {
  background: #fdd00c;
  border: 0.5px solid #808080;
}
.btn--p:focus {
  background: #fdd00c;
  border: 0.5px solid #808080;
}
.btn--p:active {
  background: #fdd00c;
  border: 0.5px solid #808080;
}

/** Secondary Btn **/
.btn--s {
  background-color: #8e00b6;
  color: #fafafa;
}
.btn--s:hover {
  background: #510068;
  opacity: 1;
}

/** Link Btn **/
.btn--lk {
  color: #fff;
  background: #afafaf;
  border: 0.5px solid #808080;
}
.btn--lk:hover {
  background: #aaaaaa;
  border: 0.5px solid #808080;
}
.btn--lk:active {
  background: #aaaaaa;
  border: 0.5px solid #808080;
}
.btn--lk:focus {
  background: #aaaaaa;
  border: 0.5px solid #808080;
}

/** Minimalist Btn **/
.btn--bare {
  border-color: transparent;
  background: transparent;
  color: #8e00b6;
  font-weight: 500;
  text-transform: none;
}
.btn--bare:hover {
  border-color: transparent;
  background: transparent;
  color: #8e00b6;
}

/** Add / Remove Row Btns **/
.addRowBtn {
  background: #38c172 !important;
  color: var(--light);
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0 0.75rem;
  border-radius: 10px;
  vertical-align: center;
}
.addRowBtn:hover {
  opacity: 0.8;
}

.rmvRowBtn {
  background: #e3342f !important;
  color: var(--light);
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0 0.75rem;
  border-radius: 10px;
  vertical-align: center;
}
.rmvRowBtn:hover {
  opacity: 0.8;
}

/**
* FORM COMPONENTS
********************
* Includes styles for form itself
*/
/** Materialize Checkbox Style Edit **/
[type=checkbox]:checked + span:not(.lever):before {
  border-right-color: #fdd00c;
  border-bottom-color: #fdd00c;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fdd00c;
  box-shadow: 0 1px 0 0 #fdd00c;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #fdd00c;
}

.submission__form {
  padding-bottom: 100px;
}

/**
* Custom Card Styles
*/
.card {
  background-color: #ffffff;
}
.card .card-title {
  font-size: 2.1em;
  padding-top: 15px;
}

/**
* THEME COLOR CLASSES
*/
.yel--text {
  color: #fdd00c !important;
}

.bgc--yellow {
  background-color: #fdd00c !important;
}