/**
**************************
**** MAIN ASIDE NAVIGATION
**************************
*/
.main-nav {
    background: $dark;
    height: 100%;
    padding: 0 !important;
    overflow: auto;
    z-index: 1;
    &__wrapper {
        height: auto; 
    }
    &__items {
        margin: 15px 0;
    }
    &__item {
        height: 35px;
        padding-left: 10px;
        margin: 25px 0;
        
        a {
            text-transform: uppercase;
            font-size: 1.25em;
            color: $yellow;
            letter-spacing: 1.5px;
            transition: all .13s ease-in-out;
            &:hover {
                padding-left: 8px;
            }
            
        }
        i {
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
        }
    }

}